@{
    ViewBag.Title = "Учет расходов";
}

<div class="jumbotron">
    <h1>Учет расходов</h1>
    <p class="lead">Учет расходов - веб-сервис для ведения учета домашних расходов</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Для начала работы</h2>
        <p>
            @Html.ActionLink("Регистрация", "Register", "Account")
        </p>       
    </div>
</div>