@model dynamic

@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <img src="@Url.Action("Chart")" />
    </div>
</div>

